{cover_enabled, true}.

{clean_files, ["*.eunit", "ebin/*.beam"]}.
{eunit_opts, [verbose]}.

{erl_opts, [
            %--------------- Uncomment next line before building/compiling to be able to run tests
            %{d,'DEBUG',true}, {d,'QC_PROPER',true},debug_info,
            native, {hipe, o3},
            fail_on_warning,
            warn_unused_vars,
            warn_export_all,
            warn_shadow_vars,
            warn_unused_import,
            warn_unused_function,
            warn_bif_clash,
            warn_unused_record,
            warn_deprecated_function,
            warn_obsolete_guard,
            warn_export_vars,
            warn_exported_vars,
            warn_untyped_record
            ]}.

{xref_checks, [undefined_function_calls]}.

{deps, [{snappy,    "1.*",   {git, "git://github.com/josephwecker/snappy-erlang-nif.git", {branch, "master"}}},
        {plain_fsm, ".*",    {git, "git://github.com/josephwecker/plain_fsm", {branch, "master"}}},
        {lz4,       ".*",    {git, "git://github.com/krestenkrab/erlang-lz4.git", {branch, "master"}}}
        %--------------- Uncomment next line before building/compiling to be able to run tests
        %,{triq,      ".*",    {git, "git://github.com/krestenkrab/triq", {branch, "master"}}}
       ]}.
